# **Assignment 1 - Logistic Regression**
## Author: Jake Brulato
## Tuesday 5:30 - 8:15, Kornelia

**Problem description and questions: A supermarket offers a new line of organic products. The
supermarket’s management wants to determine which customers are likely to purchase these
products. The supermarket has a customer loyalty program. As an initial buyer incentive plan,
the supermarket provided coupons for the organic products to all of the loyalty program
participants and collected data that includes whether these customers purchased any of the
organic products. Based on the data collected, the supermarket wants to understand the
behavior of their customers and their likelihood of purchase of organic products. The
ORGANICS data set contains 8 variables as shown in the table below and more than 22,000
observations**

In [5]:
#Import the packages you will use
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [8]:
#Import the data
df_JB = pd.read_csv('Organics.csv', sep=',')
df_JB

,ID,DemAffl,DemAge,DemGender,PromClass,PromSpend,PromTime,TargetBuy
0,140,10.0,76.0,U,Gold,16000.00,4.0,0
1,620,4.0,49.0,U,Gold,6000.00,5.0,0
2,868,5.0,70.0,F,Silver,0.02,8.0,1
3,1120,10.0,65.0,M,Tin,0.01,7.0,1
4,2313,11.0,68.0,F,Tin,0.01,8.0,0
...,...,...,...,...,...,...,...,...
22218,52834058,13.0,65.0,F,Silver,1500.00,5.0,0
22219,52834376,15.0,73.0,U,Gold,6053.06,12.0,0
22220,52837057,9.0,70.0,F,Gold,6000.00,5.0,0
22221,52838096,11.0,66.0,F,Silver,5000.00,5.0,0
22222,52856469,3.0,75.0,NaN,Gold,6000.00,2.0,0

In [41]:
#Calculate the nulls and then drop them
df_JB.isnull().sum()
clean_JB = df_JB.dropna()
clean_JB.info()
print(clean_JB.isnull().sum())
clean_JB

<class 'pandas.core.frame.DataFrame'>
Index: 17272 entries, 0 to 22221
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         17272 non-null  int64
 1   DemAffl    17272 non-null  float64
 2   DemAge     17272 non-null  float64
 3   DemGender  17272 non-null  object
 4   PromClass  17272 non-null  object
 5   PromSpend  17272 non-null  float64
 6   PromTime   17272 non-null  float64
 7   TargetBuy  17272 non-null  int64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.2+ MB
ID           0
DemAffl      0
DemAge       0
DemGender    0
PromClass    0
PromSpend    0
PromTime     0
TargetBuy    0
dtype: int64

,ID,DemAffl,DemAge,DemGender,PromClass,PromSpend,PromTime,TargetBuy
0,140,10.0,76.0,U,Gold,16000.00,4.0,0
1,620,4.0,49.0,U,Gold,6000.00,5.0,0
2,868,5.0,70.0,F,Silver,0.02,8.0,1
3,1120,10.0,65.0,M,Tin,0.01,7.0,1
4,2313,11.0,68.0,F,Tin,0.01,8.0,0
...,...,...,...,...,...,...,...,...
22216,52830893,13.0,49.0,M,Silver,500.00,9.0,0
22218,52834058,13.0,65.0,F,Silver,1500.00,5.0,0
22219,52834376,15.0,73.0,U,Gold,6053.06,12.0,0
22220,52837057,9.0,70.0,F,Gold,6000.00,5.0,0
22221,52838096,11.0,66.0,F,Silver,5000.00,5.0,0

In [49]:
#Drop the columns you wont be using for your data
model_data_JB = clean_JB.drop(columns= ['ID', 'DemGender'])
model_data_JB

       DemAffl  DemAge PromClass  PromSpend  PromTime  TargetBuy
0         10.0    76.0      Gold   16000.00       4.0          0
1          4.0    49.0      Gold    6000.00       5.0          0
2          5.0    70.0    Silver       0.02       8.0          1
3         10.0    65.0       Tin       0.01       7.0          1
4         11.0    68.0       Tin       0.01       8.0          0
...        ...     ...       ...        ...       ...        ...
22216     13.0    49.0    Silver     500.00       9.0          0
22218     13.0    65.0    Silver    1500.00       5.0          0
22219     15.0    73.0      Gold    6053.06      12.0          0
22220      9.0    70.0      Gold    6000.00       5.0          0
22221     11.0    66.0    Silver    5000.00       5.0          0

[17272 rows x 6 columns]

**1. What variable would you consider as the target variable? Explain your reason. (2 pts)**

I believe the target variable would be 'TargetBuy' as it is the only variable to return 0 or 1, with logistic regression, we want to predict the outcome of the binary variable based on the other independents in the model.

**2. Select any 5 variables to consider as independent variables in the model. Explain the
reasons for your selection. (5 pts)**

- PromClass: 
    - becuase it helps determine how often they go to the supermarket to be able to be a loyalty member, and likely being influence by the new products.
- PromSpend:
    - The amount of spending can show how likely they are to buy the new line of organic products, making a indicator on what wealth level people would be more likely to purchase it.
- PromTime:
    - The amount of time a person has been a member at the supermarket, could be impactful for a persons decision in buying organic.
- DemAffl:
    - How much a wealth a person has on a 30 point scales, shows what economic bracket people would be in to more likely buy the organic line.
- DemAge:
    - How old the person will be if they by the organics, could be a good indicator on what age range would try to eat healthier.

**3. Are there any variables which cannot be used in your model? Why? (3 pts)**

- ID would not make sense as it just serves as a unique identifier for each of the people's data in each row.
- DemGender could be used but it would be better to use age as a predictor as gender has less variability being limited to three classes.

**4. What variables need to be dummy coded before you run your logistic regression model?
Explain what new dummy coded columns you created. (6 pts)**

- PromClass would need to be dummy coded as logistic regression cannot take in text values.

In [60]:
model_data_JB = pd.get_dummies(model_data_JB)
model_data_JB['PromClass_Gold'] = model_data_JB['PromClass_Gold'].astype(int)
model_data_JB['PromClass_Platinum'] = model_data_JB['PromClass_Platinum'].astype(int)
model_data_JB['PromClass_Silver'] = model_data_JB['PromClass_Silver'].astype(int)
model_data_JB['PromClass_Tin'] = model_data_JB['PromClass_Tin'].astype(int)
print(model_data_JB)
print("Gold: ", model_data_JB['PromClass_Gold'].value_counts().get(1, 1))
print("Plat: ", model_data_JB['PromClass_Platinum'].value_counts().get(1, 1))
print("Silver: ", model_data_JB['PromClass_Silver'].value_counts().get(1, 1))
print("Tin: ", model_data_JB['PromClass_Tin'].value_counts().get(1, 1))

       DemAffl  DemAge  PromSpend  PromTime  TargetBuy  PromClass_Gold  \
0         10.0    76.0   16000.00       4.0          0               1
1          4.0    49.0    6000.00       5.0          0               1
2          5.0    70.0       0.02       8.0          1               0
3         10.0    65.0       0.01       7.0          1               0
4         11.0    68.0       0.01       8.0          0               0
...        ...     ...        ...       ...        ...             ...
22216     13.0    49.0     500.00       9.0          0               0
22218     13.0    65.0    1500.00       5.0          0               0
22219     15.0    73.0    6053.06      12.0          0               1
22220      9.0    70.0    6000.00       5.0          0               1
22221     11.0    66.0    5000.00       5.0          0               0

       PromClass_Platinum  PromClass_Silver  PromClass_Tin
0                       0                 0              0
1                       0                 0              0
2                       0                 1              0
3                       0                 0              1
4                       0                 0              1
...                   ...               ...            ...
22216                   0                 1              0
22218                   0                 1              0
22219                   0                 0              0
22220                   0                 0              0
22221                   0                 1              0

[17272 rows x 9 columns]
Gold:  4933
Plat:  666
Silver:  6661
Tin:  5012

**5. Do you have to consider missing values in your dataset? How did you handle the presence
of missing values, if any? (4 pts)**

**6. Provide following screenshots from your logistic regression model. (5 pts)**
- a. The model result summary, along with the coefficient table
- b. The classification (confusion) matrix output

**7. Is the overall model statistically significant? Explain how you arrived at your conclusion. (4
pts)**

**8. Interpret the impacts of each independent variable on the target variable. (10 pts)**

**9. From the confusion matrix, compute the accuracy, precision, recall and F1 score for this
model. (6 pts)**

**10. Summarize your findings to the Director of Marketing for this company. Based on your
summary, provide two recommendations that could address the company’s problem
described earlier. (Limit this answer to a paragraph of not more than 200 words) (5 pts)**